Source: libtertiusqbit-httpapi-perl
Section: perl
Priority: extra
Maintainer: Dmitry Lukiyanchuk <wtertius@gmail.com>
Build-Depends: debhelper (>= 8.0.0), perl, libtest-deep-perl, libtertiusqbit-perl, libtertiusqbit-webinterface-perl, libxml-simple-perl, libyaml-libyaml-perl
Standards-Version: 3.9.4

Package: libtertiusqbit-httpapi-perl
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, perl, libtertiusqbit-perl, libtertiusqbit-webinterface-perl, libxml-simple-perl, libyaml-libyaml-perl
Conflicts: libqbit-httpapi-perl
Replaces: libqbit-httpapi-perl
Description: Helper for create HTTP based API.
